body{
    background-color: #FFF0D1;
}

.zag {
    text-align: center;
    border-style: outset;
    border-radius: 6px;
    font-size: 20px;
    background-color: #FFE5AB;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kon{
    background-color: #FFE5AB;
    padding-right: 5px;
    padding-top: 6px;
    border-top-style: solid;
    border-right-style: solid;
    position: fixed;
    top: 94%;
    left: 0%;
}

.men{
    background-color: #FFE5AB;
    display: block;
    text-align: center;
    border: solid;
    width: 125px;
    position: sticky;
    top: 1%;
    float: right;
    margin: 0;
}

a{
    color: black;
    outline: none;
    text-decoration: none;
}
a:link{
    color: black;
    outline: none;
    text-decoration: none;
}
a:focus {
    color: rgba(119, 136, 153, 0.521);
    outline: none;
    text-decoration: none;
}
a:hover {
    color: rgba(119, 136, 153, 0.521);
    outline: none;
    text-decoration: none;
}

img {
    border: 2px solid;
}