body{
    background-color: #FFE0A8;
}

.hc{
    background-color: #FFD588;
    border-style: outset;
    border-radius: 6px;
}

.logo {
    text-align: center;
    border-style: solid;
    border-radius: 6px;
    font-size: 25px;
    background-color: #FFC760;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kon{
    background-color: #FFD588;
    border: outset;
    border-bottom: none;
    border-radius: 6px;
}

.item{
    background-color: #FFD588;
    border: outset;
    border-radius: 10px;
}

a{
    color: black;
    outline: none;
    text-decoration: none;
}
a:link{
    color: black;
    outline: none;
    text-decoration: none;
}
a:focus {
    color: rgba(119, 136, 153, 0.521);
    outline: none;
    text-decoration: none;
}
a:hover {
    color: rgba(119, 136, 153, 0.521);
    outline: none;
    text-decoration: none;
}

img {
    border: 2px solid;
    border-radius: 4px;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.rec{
    font-size: 20px;
}

button{
    background-color: #FFC760;
    border-radius: 5px;
    text-decoration: none; 
}
button:hover { 
    background: #e6b354; 
}
button:active {
  background: #a8823c;
}
